<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css"></link>
    <title>Programación Visual - UNJU</title>
</head>
<body>
    <header>
        <h1>Programación Visual - UNJU</h1>

        <nav>
            <ul>
                <li><a href="#introduccion">Introducción</a></li>
                <li><a href="#temas">Temas</a></li>
                <li><a href="#recursos">Recursos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="introduccion">
            <h2>Introducción</h2>
            <h3>Descripción del Curso</h3>
            <p>Este curso ofrece una introducción a HTML</p>
            <ul>
                <li>Introducción a HTML</li>
                <li>Herramientas y entornos de desarrollo</li>
                <li>Spring Boot</li>
            </ul>
        </section>

        <section id="temas">
            <h2>Temas</h2>
            <h3>Contenido del Curso</h3>
            <p>El curso está dividido en varias unidades, cada una centrada en HTML</p>
            <ol>
                <li>Unidad 1: Fundamentos</li>
                <li>Unidad 2: Arquitectura</li>
                <li>Unidad 3: Spring Boot</li>
            </ol>
            <h3>Tabla de Temas</h3>
            <table border="1">
                <tr>
                    <th>Unidad</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td>Unidad 1</td>
                    <td>Fundamentos de HTML</td>
                </tr>
                <tr>
                    <td>Unidad 2</td>
                    <td>Arquitectura Web</td>
                </tr>
                <tr>
                    <td>Unidad 3</td>
                    <td>Spring Boot</td>
                </tr>
            </table>
        </section>

        <section id="recursos">
            <h2>Recursos</h2>
            <h3>Material de Estudio</h3>
            <p>A continuación, se presentan algunos recursos útiles para el curso:</p>
            <ul>
                <li><a href="https://virtual.unju.edu.ar/pluginfile.php/420737/mod_resource/content/2/HTML5.pdf">PDF de HTML</a></li>
                <li><a href="https://drive.google.com/file/d/1wGpqawAO96SVvPAhvRt9micyN-zU07DO/view">Arquitectura WEB</a></li>
                <li><a href="https://drive.google.com/file/d/1EdE2wy4ddXtAWQvxumMxhlSSPslLvnAn/view">Creacion aplicaciones Spring Boot</a></li>
            </ul>
        </section>
    </main>
    <aside>
        <h2>Información Adicional</h2>
        <p>Visita nuestro sitio web para más información.</p>
        <a href="https://virtual.unju.edu.ar/">Sitio Oficial de la UNJU</a>
        <img src="https://virtual.unju.edu.ar/pluginfile.php/4537/block_html/content/unjuvirtual_footer.png" alt="UNJU">
    </aside>
    <footer>
        <p>Contacto: virtual@unju.edu.ar</p>
        <p> Links:
            <a href="https://www.facebook.com/escminasunju">Facebook</a> |
            <a href="https://www.youtube.com/c/FacultaddeIngenier%C3%ADaUNJu">Youtube</a> |
            <a href="https://www.instagram.com/fiunju/">Instagram</a>
        </p>
    </footer>
</body>
</html>